.dashboard-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.call-to-action {
  margin-top: 20px;
  text-align: center;
}