body{
    background-color: #f4f7f6;
    margin-top:20px;
}
.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .request-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.request-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.request-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.request-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.request-list .chat-list li.active {
    background: #efefef
}

.request-list .chat-list li .name {
    font-size: 15px
}

.request-list .about {
    float: left;
    padding-left: 8px
}

.request-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .request-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .request-history ul {
    padding: 0
}

.chat .request-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .request-history ul li:last-child {
    margin-bottom: 0px
}

.request-history{
    height: 500px;
    overflow-y: scroll;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
} 

.ContentAlignment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tableWapper { 
        width:100%;
        max-height:500px; 
        overflow: auto; 
    } 
.tablePage {
        margin: 1rem 2rem;
}